.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 0.5rem;
  padding: 2rem;
  background-color: #dcdcdccf;
  cursor: pointer;

  font-size: 1.4rem;
  color: #120a8f;
  text-align: center;
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card-header {
  font-size: 2rem;
}

.card-image {
  width: 100%;
  height: 100%;

  border-radius: 0.5rem;

  object-fit: cover;
}

.portal {
  position: fixed;
  top: 5%;
  left: 20%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 60%;

  background-color: #f0f8ff;
  padding: 1rem;
  border-radius: 0.5rem;

  font-size: 1.4rem;
  text-align: center;
}

.close-portal {
  position: absolute;
  top: 1%;
  right: 1%;
  width: 3rem;
  height: 3rem;

  background: url('../../assets/close.svg') no-repeat center center;
  transition: all 0.5s ease;
  cursor: pointer;
}

.close-portal:hover {
  transform: scale(1.2);
}

.shadow {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.219);
}

.portal-image {
  width: 100%;
  height: 40vh;

  border-radius: 0.5rem;

  object-fit: cover;
}

.portal p {
  margin: 0.5rem 0;
}
