.search-wrapper {
  width: 32%;

  background-color: #dcdcdccf;
  padding: 2rem 3rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
}

.search-bar {
  width: 100%;
  height: 3rem;

  /* background: url('../../assets/magnifier.svg') no-repeat left center; */
  border: 2px solid #878686;
  border-radius: 0.5rem;
  padding-left: 3vh;
}
