body {
  background: linear-gradient(270.75deg, rgba(219, 241, 251, 0.7) 30.06%, rgba(69, 179, 252, 0.702) 100.95%, #3b3bfb 106.36%);

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;

  font-size: 10px;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}